.avatar-img{
    width: 40px !important;
    height:40px !important;
    border-radius: 50%;
    /* max-width: 40px;
    max-height: ; */
}
.top-bar-container{
    display: flex;
    /* max-width: 800px; */
    width: 100%;
    background-color: #dddddd;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    border-radius: 15px;
}
.gap-05{
    gap:5px;
}
.gap-10{
    gap:10px;
}
.gap-20{
    gap:20px;
}
.bold{
font-weight: 600;
}
#dropdown-basic{
    background-color: transparent;
    color: black;
    border:none;
}
#dropdown-basic::after{
    display: none;
}
.chat-container{
max-width: 550px;
width: 100%;
margin: 0;
padding: 0;
}
.main-container{
    display: flex;
     justify-content: center   
}
.message-card{
display: flex;
width: 100%;
margin: 0px 0 20px 0;
}
.message-card .inner-card{
   max-width: 300px; 
  border-radius: 10px;
  padding: 5px 10px;
}

.user-card{
    background-color: #dddddd;

  
}
.robot-card{
    background-color: #1b6cdd;
    color: white;
 }

 .chat-tab-area{
    resize: none;

 }
.send-msg-btn{
    padding:20px 10px 20px 10px;
}
 .container-send-tab{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* background-color: black; */
    padding: 0px 0px;
    margin: 0;
    
 }
 .message-panel{
    padding: 0px 10px;
    max-height:70vh;
    overflow-y: scroll;
 }
